@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --section-rotate: 9vw;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000;
}
.status {
  height: 100vh;
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.status * {
  text-align: center;
}
.status-header {
  color: #2d2e2e;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2em;
}
.statusDivider {
  height: 5px;
  background: black;
  width: 5%;
}
.status .description {
  max-width: 700px;
  color: #888888;
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
}
.statusContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
}
.sec {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secIcon {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 3px solid rgb(226, 219, 219);
}
.secInfo {
  color: #b80924;
  font-family: "Open Sans", Sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.secName {
  color: #2d2e2e;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7em;
}



.header__hero-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: 50% 25%;
  object-position: 50% 25%;
}

.header__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, #d9d9d9, #28b487);
  opacity: 0.85;
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;
}
.picture-box__img--1 {
  padding-top: 15%;
}
.picture-box__img--2 {
  padding-bottom: 15%;
}
.picture-box__img--3 {
  padding-bottom: 27%;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
