div(style='font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;text-align:center')
      div(style='margin:50px auto;padding:20px 0')
        div(style='border-bottom:1px solid #eee')
          p(style='font-size:1.1em') Hi, #{name}
          p Email from CPET Dhiu 
        h2(style='margin: 1rem auto;padding: 0 10px;border-radius: 4px;') Your Registration ID is 
          span(style='background: #00466a;color:white;padding:10px;') #{registrationId}
        p
          | Please login to activate your account by clicking login button
        a(href="https://cpet.dhiu.in/student-login" style='background: #00466a;margin: 0 auto;padding: 10px 10px;color: #fff;border-radius: 4px;text-decoration:none') Login