div(style='font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2;text-align:center')
      div(style='margin:50px auto;padding:20px 0')
        div(style='border-bottom:1px solid #eee')
          p(style='font-size:1.1em') Hi, #{name}
          h1  Email for resetting password
        h2(style='margin: 1rem auto;padding: 0 10px;border-radius: 4px;') Your Registration ID is 
          span(style='background: #00466a;color:white;padding:10px;') #{registrationId}
        p
          | Please click here to reset your password 
        a(href=`${url}` style='background: #00466a;margin: 0 auto;padding: 10px 10px;color: #fff;border-radius: 4px;text-decoration:none') Click 